body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lavenderblush;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-up{
  width: 50vh;
  margin: auto;
  margin-top: 10%;
}
#email{
  margin-bottom: 5px;
}
#password{
  margin-bottom: 5px;
}
#password-confirm{
  margin-bottom: 10px;
}

.me-auto{
  margin-left : auto;
}
.container{
  margin-left: 10px;
}
.sign-in{
  text-align:right;
}
