@tailwind base;
@tailwind components; 
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#B1E693;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
}
.sign-up {
  width: 50vh;
  margin: auto;
  margin-top: 10%;
}
.login {
  width: 50vh;
  margin: auto;
  margin-top: 10%;
}
#email{
  margin-bottom: 5px;
}
#password{
  margin-bottom: 5px;
}
#password-confirm{
  margin-bottom: 10px;
}

.me-auto{
  margin-left : auto;
}
.container{
  margin-left: 10px;
}
.sign-in{
  text-align:right;
}

.error{
  background-color: rgb(59, 127, 172);
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;
}
#Hero{
  font-family: 'Birthstone', cursive;
}

#line {
  height: 3px;
;
  background-color:white;
}
#img{
  margin-top: -10;
  padding-top: 40px;
}

.scrolled{
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightblue;
}

#google-logo{
  height:38px;
  border-radius: 100px;
  background-color: rgb(208, 228, 208);
  padding:5px;
  text-align: center
}
.input{
  background-color:#B1E693;
  font-family: 'Architects Daughter', cursive;
  color:rgb(14, 117, 131)
}
.input:focus{
  outline: none;
}
.diary{
  font-family: 'Architects Daughter', cursive;
  color:rgb(14, 117, 131)
}
